:root {
  /*Aqui são inseridas as variaveis 
  globais do CSS*/
  --red-500: #b1160a;

  --yellow-300: #fcff00;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;
  --gray-1000: #171a18;

  --black: #111;

  --white: #fff;
}
